// gaps
$gap-72: 72px;
$gap-4: 4px;

// colors
$gradient-white-gray: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(195,195,212,1) 50%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
$color-white: rgb(255, 255, 255);
$color-regular-text: rgb(0, 0, 0);

//other

$opacity-time-default: 0.5s;