@import '../../styles/vars.scss';

.footer {
    margin-top: auto;
    height: $gap-72;
    background: $gradient-white-gray;
    
    &-inner-wrapper {
        background-color: $color-white;
        height: calc($gap-72 - 1px);
        margin-top: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-github-link {
        display: flex;
        align-items: center;

        &:hover {
            .footer {
                &-link-label {
                    width: 70px;
                    opacity: 1;
                }
                &-github-logo {
                    opacity: 0.8;
                }
            }
        }
    }

    &-github-logo {
        width: 32px;
        height: auto;
        opacity: 0.4;
        transition: opacity $opacity-time-default;
    }

    &-link-label {
        width: 0;
        opacity: 0;
        overflow: hidden;
        margin-left: $gap-4;
        transition: $opacity-time-default;
        color: $color-regular-text;
    }
}